<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    table, th, td {
      border: 1px solid black;
      width: 100%;
    }
    </style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Spotter Buddy</h1>
  </div>
</div>
</div>

<div class="container" id="content">
    <table>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>RSSI</td>
        <td><div id="rssi"></td>
      </tr>
      <tr>
        <td>SNR</td>
        <td><div id="snr"></td>
      </tr>
      <tr>
        <td>Timeout</td>
        <td><div id="lastmsg"></td>
      </tr>
    </table>
</div>

<div class="container", id="image_container">
    <img id="image" src="static/img.jpg?1234">
</div>

</body>
</html>
